-# .top
-#   .top__word
-#     グループを作成しました


.contents
  .side
    = render 'shared/side_bar'

  .main
    .main__header
      .group-data
        .groupname
          = @group.name
        .member
          Member :
          - @group.users.each do |groupname|
            = groupname.name
        
         
      .main__header__editbtn
        = link_to 'Edit', edit_group_path(@group) ,class: "edit-btn"
      

    .main__contents
      = render @messages
      
    .main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'box__message', placeholder: 'type a message' 
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.button type: 'submit', class: 'form__submit' do
          %span Send



